@page
@model MyEshop.Pages.Admin.AddModel
@{
    ViewData["Title"] = "افزودن";
}
<h1>افزودن کالا</h1>
<hr />
<section class="d-flex justify-content-center align-items-center">
    <form class="w-50" method="post" enctype="multipart/form-data">
        <dl class="dl-horizontal">
            <dt> <label asp-for="Product.Name"></label></dt>
            <dd>
                <input class="form-control" asp-for="Product.Name" />
                <span asp-validation-for="Product.Name"></span>
            </dd>

            <dt> <label asp-for="Product.Description"></label></dt>
            <dd>
                <textarea class="form-control" asp-for="Product.Description"></textarea>
                <span asp-validation-for="Product.Description"></span>
            </dd>

            <dt> <label asp-for="Product.Price"></label></dt>
            <dd>
                <input class="form-control" asp-for="Product.Price" />
                <span asp-validation-for="Product.Price"></span>
            </dd>

            <dt> <label asp-for="Product.QuantityInStock"></label></dt>
            <dd>
                <input class="form-control" asp-for="Product.QuantityInStock" />
                <span asp-validation-for="Product.QuantityInStock"></span>
            </dd>

            <dt> <label asp-for="Product.Picture"></label></dt>
            <dd>
                <input asp-for="Product.Picture" />
                <span asp-validation-for="Product.Picture"></span>
            </dd>
            <dt>گروه</dt>
            <dd>
                @foreach (var item in Model.Product.Categories)
                {
                    <p>
                        <input type="checkbox" name="SelectedGroups" value="@item.Id" />@item.Name
                    </p>
                }
            </dd>
            <dt></dt>
            <dd>
                <input class="btn btn-primary btn-submit" type="submit" name="name" value="ثبت" />
            </dd>
        </dl>
  
    </form>
</section>