@{
    ViewData["Title"] = "درباره ما";
}
<h2>تماس با ما</h2>
<hr />
<div class="row">
    <div class="col-md-3">
        <div class="card bg-light border-dark">
            <div class="card-header">راه های تماس </div>
            <div class="card-body">
                <h4 class="card-title">ارتباط با ما</h4>
                <p class="card-text">02156170067</p>
                <p class="card-text">09383356864</p>
                <p class="card-text">info@alireza3356864</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="alert bg-light border-dark h-100" role="alert">
            <h4 class="alert-heading">به فروشگاه خوش امدید</h4>
            <p>به فروشگاه ما خوش امدید میتوانید از طریق راه ارتباطی با ما در تماس باشید</p>
            <hr>
            <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
        </div>
    </div>
</div>
